/** @format */

body {
  background-color: aquamarine;
  color: black;
}

.tablero {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  height: 800px;
  padding: 10px 10px;
  margin-left: 18%;
}

.a {
  margin-left: 5px;
  margin-top: 5px;
}
